/*
 * 公共样式库
 * @Author: yingrou 
 * @Date: 2020-11-10 16:03:03 
 * @Last Modified by: yingrou
 * @Last Modified time: 2020-11-10 16:05:03
 */

.c-main-blue { color: $mainBlue; }
.c-title { color: $titleColor; }
.c-body { color: $bodyColor; }
.c-sub { color: $subColor; }

.can-click { cursor: pointer; }

.mlr10 { margin: 0 10px;}
.mt10 { margin-top: 10px; }

.mb20 { margin-bottom: 20px; }